[build]
  command = "npm run build"
  publish = ".output/public"

[functions]
  directory = ".output/server"
  node_bundler = "none"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true