[build]
  command = "npm run build"
  publish = ".netlify"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[functions]
  directory = ".netlify/functions"
  node_bundler = "esbuild"